@font-face {
    font-family: 'MyFont';
    src:  url('./medio.otf') format('otf');
    font-weight: 600;
    font-style: normal;
}

.hello {
    color: red;
    font-size: large;
    font-family: 'MyFont';
    background: url('./sunset-over-the-golf-course-644477_1280.jpg'); 
}